/*google fonts
color hunt
https://colorhunt.co/palette/eb5353f9d92336ae7c187498
https://colorhunt.co/palette/ee7c4bc45d3ec6c5b3f5f0c4
https://colorhunt.co/palette/2192ff38e54d9cff2efdff00
https://colorhunt.co/palette/fef9a7fac213f77e21d61c4e     LEGAL
https://colorhunt.co/palette/3db2ffffeddaffb830ff2442
https://colorhunt.co/palette/5fdde5f4ea8ef37121d92027
feathericons: https://feathericons.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /*url de importação da fonte*/

*{
    box-sizing: border-box; 
}

body{
    margin: 0; /*gruda na margem*/
    font-family: 'Montserrat', sans-serif; /*google fonts nome*/
    background: #F6E6E4;
}

ul /*modifica a lista do site*/{ 
    list-style: none; 
    font-weight: bold; /*deixa a letra em negrito*/
    color: black;
}

a /*modificar os links da lista*/{ 
    text-decoration: none;
    color: inherit;/*deixa a cor original da fonte*/
}

h1{
    color: #FF616D;
    font-size: 2rem;
}


p{
    color: black; 
    font-size: 25px;
}

button /*altera o botão*/{
    color: #FF616D;
    padding: 10px 15px; /*altura e largura*/
    border-radius: 8px; /*circuferencia*/
    border: 0; /*tira a borda do botão*/
    font-weight: bold; /*espessura da fonte*/
    background: #CA8A8B; /*cor do fundo*/
    color: white; /*cor do texto de dentro*/
}

header{
    background:no-repeat center/cover url('assets/montefuji.jpg'); /*coloca a ft salva no site*/
    height: calc(100vh - 150px);
}

header nav /*arruma o header na posição desejada*/{
    display: flex;
    justify-content: space-between;
    margin: auto 150px;
}

header nav p{
    font-weight: bold;
}

header nav ul{ /*deixa a lista no canto do site e um do lado do outro* /*ul é uma lista nao ordenada*/
    display: flex;
}

header nav ul li{ /*deixa um espaço na lista*/
    margin: 0 15px; 
}

.header-content{
    max-width: 400px;
    margin: 150px auto; /*deixar automatico*/
    text-align: center; /*deixa o texto no centro do site*/
}

.header-content h1{  /*posiciona o h1 e edita o tamanho dele*/
    margin-bottom: 10px; 
    font-size: 4rem;
}

.pacotes{ /*fundo da class pacotes*/
    background: #8AC4D0;
    padding: 15px;
}

.pacotes .pacotes-cards { 
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotes-title{ /*muda o titulo da class pacotes*/
    width: 100%;
    text-align: center;
    margin: 25px 0;

}

.pacotes .card { 
    width: 250px;
    height: 200px;
    background: white;
    margin: 25px;
    position: relative;
    border-radius: 24px 0;
}

.pacotes .card-image { /*diminui o tamanho da imagem*/
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.pacotes .card-content{
    padding: 0 15px;
}

.pacotes .card-content ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.pacotes .card-content ul li{ /*muda a cor e os tamanhos das listinhas */
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin: 3px;
    color: grey; 
    font-weight: bold;
}

.pacotes .card-content li svg{ /*icones*/
    width: 16px;
    height: 16px;
    margin-right: 10px;
}